<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Leaderboards</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/buttons-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/tables-min.css">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/menus-min.css">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/unique" type="text/css"/>
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/acari-sans" type="text/css"/>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://underscorejs.org/underscore-min.js"></script>
	
	<style>
		*, *:before, *:after {
		    -webkit-box-sizing: box-border;
		    -moz-box-sizing: box-border;
		    box-sizing: box-border;
			padding: 0;
			margin: 0 auto;
  		}
		html {
			font-size: 62.5%;
		}
		body {
			font-size: 2.6vh;
			font-family: 'AcariSansRegular';
		}
		.modal {
			width: 100%;
			height: 100%;
			position: fixed; top:0;left:0;
			background-color: #fff;
			overflow-y: auto;
		}
		.btn-close {
			position: fixed; top:1rem;right:2rem; z-index: 99;
			color: #51cc86;
			background-color: transparent;
			font-size: 4rem;
			font-weight: 700;
			border: 0;
			cursor: pointer;
		}
		.btn-primary {
			background-color: #51cc86 !important;
		}
		.award {
			width: 50vw;
			padding: 2rem;
			border-radius: .5rem;
			margin: 2rem auto;
			text-align: center;
			cursor: pointer;
		}
		.award-name {
			font-family: 'UniqueRegular';
		}
		.award-good { border: .4rem solid #51cc86; }
		.award-bad { border: .4rem solid #bf1818; }
		.award-good:hover { background-color: #51cc86; }
		.award-bad:hover { background-color: #bf1818; }
		
		.tac { text-align: center; }
		
		#AppTitle {
			font-family: 'UniqueRegular';
		}
		#SuggestNewAward {
			margin: 3rem auto;
		}
	</style>
</head>
<body>
	<div id="App">
	
		<!-- LEADERBOARDS -->
		<div id="Leaderboards" v-if="show.leaderboards">
			<div id="AppTitle" class="tac">
				<h1>Leaderboards</h1>
			</div>
		
			<table class="pure-table">
			  <tr v-for="s in sortedStudents">  <!-- loops over sortedStudents -->
			    <td>{{ s.name }}</td>
				<td>{{ s.pts }} pts</td>
				<td v-if="isAdmin">  <!-- display only if user is an admin -->
          <button class="pure-button pure-button-primary btn-primary" v-on:click="givePoints(s.id)">Give award</button>
        </td>
				<td>
          <button class="pure-button pure-button-primary btn-primary" v-on:click="showStudent(s.id)">History</button>
        </td>
			  </tr>
			</table>
			
			<div id="SuggestNewAward" class="tac">  <!-- TODO: needs to open a new modal and submit a new award suggestion -->
				<button class="pure-button">Suggest new award</button>
			</div>
		</div>
		
		<!-- STUDENT -->
		<div id="Student" v-if="show.student">
			<button class="pure-button pure-button-primary btn-primary" v-on:click="showLeaderboards">show Leaderboards</button>
			<div class="tac">
				<h1>{{ currentStudent.name }}</h1>
			</div>
		
			<table class="pure-table">
			  <tr v-for="award in currentStudent.awards">
			  	<td>{{ formatDate(award.created_at) }}</td>
			  	<td>{{ award.name }}</td>
			  	<td>{{ award.pts }} pts</td>
			  </tr>
			</table>
		</div>
		
		<!-- MODAL: AWARDS -->
		<div id="GivePointsModal" class="modal" v-if="show.modal.awards && isAdmin">
			<div style="padding: 5rem 0">
				<button class="btn-close" v-on:click="closeModal('awards')">x</button>
				<div class="pure-menu">
					<ul class="pure-menu-list">
						<li class="pure-menu-item" v-for="a in awards" v-on:click="awardPoints(a.id)">
							<div v-bind:class="modalAwardClass(a.pts)">
								<h2 class="award-name">{{ a.name }}</h2>
								<h4>{{ a.pts > 0 ? '+' : '' }}{{a.pts}} pts</h4> 
								<br>
								<p><i>{{ a.description }}</i></p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		var app = new Vue({  // initiates a Vue app
			el: '#App',        // points to a div to inject the app there
			methods: {
				formatDate(d) {  // modern JS; equivalent to 'formatDate: function(d) { ... }'
					var d2 = new Date(d);
					var day = d.getUTCDate();
					var month = d.getUTCMonth();
					var year = d.getUTCFullYear();
					
					return CreateDate(day, month, year);  // creates a nice, human-friendly string
				},
				showLeaderboards: function() {  // shows Leaderboards "web page"
					this.show.student = false;
					this.show.leaderboards = true;
					
					this.studentId = 0;
				},
				showStudent: function(id) {  // shows Student "web page"
					this.studentId = id;

					this.show.leaderboards = false;
					this.show.student = true;
				},
				modalAwardClass: function(pts) {  // Vue is a bit awkward here, but that's the only way I found
					                                // to have a css class used conditionally
					return pts > 0 ? 'award award-good' : 'award award-bad'; 
				},
				closeModal(kind) {  // closes a modal box
					                  // I got myself a bit ahead here; the code is prepared for several modals
				  switch(kind) {
						case "awards": 
							this.show.modal.awards = false;
							break;
					}
				},
				givePoints: function(id) {  // opens award modal box; 
					                          // TODO: refactor it to 'openModal(kind)' method for consistency
					this.studentId = id;
					this.show.modal.awards = true;
				},
				awardPoints: function(awardId) {  // award points to a student and close the modal
					var self = this;
					self.students.map(function(s) {
						if (s.id == self.studentId) {
							var newAwards = s.awards.push({awardId: awardId, created_at: new Date()})
							return newAwards;
						}
						return s;
					})
					// reset
					this.studentId = 0;
					this.show.modal.awards = false;
				},
			},
			data: {  // everything here is a dummy data that will eventually be fetched from the server as JSON (API)
               // and translated locally from JSON to JS
               // [a good reference:] https://stackoverflow.com/questions/4935632/parse-json-in-javascript#4935684
               // I haven't use AJAX fetching in Vue yet, perhaps Vue translates data behind the scenes (don't know yet :))
				awards: [  // list of dummy awards; fetched from API
					{id: 1, name: 'Helper!', description: 'Helped another student.', pts: 10},
					{id: 2, name: 'Librarian!', description: 'Used an external library of their own choice.', pts: 15},
					{id: 3, name: 'Disruption!', description: 'Disruptive behaviour...', pts: -25},
					{id: 4, name: 'PR virgin!', description: 'Submitted first Pull Request to a Github repo.', pts: 25},
					{id: 5, name: 'Spotter!', description: 'Spotted a mistake in coursework materials.', pts: 10},
					{id: 6, name: 'Foul language!', description: 'Foul language...', pts: -5},
					{id: 7, name: 'El Contributor!', description: 'Contributed to an App.', pts: 50},
					{id: 8, name: 'El Captain!', description: 'Built a web app not necessary to pass the course.', pts: 150},
				],
				students: [ // dummy students data; fetched from API
					{id: 1, name: 'Joseph K.', pts: 0, 
					 awards: [
					   {created_at: new Date(), awardId: 1},
					   {created_at: new Date(), awardId: 5},
					 ]
					},
					{id: 2, name: 'Winston', pts: 0,
					 awards: [
					   {created_at: new Date(), awardId: 2},
					 ]
					},
					{id: 3, name: 'Jayke C.', pts: 0,
					 awards: [
					   {created_at: new Date(), awardId: 3},
					 ]	
					},
					{id: 4, name: 'Minnie M.', pts: 0,
					 awards: [
					   {created_at: new Date(), awardId: 4},
					 ]
					},
				],
        // various 'state' data; could probably be under one 'state: {}' object
				studentId: 0,
				isAdmin: true,
				show: {
					leaderboards: true,
					student: false,
					modal: {
						awards: false,
					}
				},
			},
			computed: {  // Vue has the idea of 'computed' methods. These are then used in html
                   // the same way properties from 'data' are used
				currentStudent: function() {  // currently chosen to display student; shows details
					var self = this;
					var s = Object.assign({}, self.students[self.studentId -1]);  // clones a student so that the student record
                                                                        // doesn't get changed; JS, right? ;-)

					s.awards = s.awards.map(function(a) {  // a student.awards records keep only 'awardId' and 'created_at'
                                                 // we need to make sure that we get full award data from 'data.awards'
                                                 // so we map (loop) over every student
						var awardDetails = self.awards.filter(function(aw) { return aw.id === a.awardId; })[0];  // then we filter to get the
                                                                                                     // details of each award
						var newAwards = Object.assign({created_at: a.created_at}, awardDetails)  // finally, we create a new object that will have:
                                                                                     // 1. created_at timestamp
                                                                                     // 2. full award details
						// we will need these data to properly show the history of awards for every student :)
            // and the reason we only keep 'awardId' in 'student.awards' record is to not duplicate data
            // that we already have in 'data.awards'
            return newAwards;
					});

					return s;
				},
				sortedStudents: function() {  // students sorted in desc order (most points == highest place)
					return _.sortBy(this.calculatedStudents, 'pts').reverse();
				},
				calculatedStudents: function() {  // returns students with calculated (summed) points
					var self = this;  // self trick; 'this' changes depending on context;
                            // simple explanation: https://stackoverflow.com/questions/962033/what-underlies-this-javascript-idiom-var-self-this#962040
                            // more on 'this': https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this
					
					return self.students.map(function(s) {  // loops over students

						var ptsFromAwards = s.awards.map(function(a) {  // loops over each student's awards
							return self.awards.filter(function(aw) { return aw.id === a.awardId; })[0].pts;  // returns 'pts' from an award
						});

						var newPts = ptsFromAwards.reduce(function(acc, num) { return acc + num; }, 0);  // sums all 'pts'

						s.pts = newPts;
						return s;  // returns student record with updated 'pts'

					});
				},
			}
		})
		
		function CreateDate(day, month, year) {  
			var newDay = day;
			if (newDay === 1 || newDay === 21 || newDay === 31) { newDay += "st" }
			else if (newDay === 2 || newDay === 22) { newDay += "nd" }
			else if (newDay === 3 || newDay === 23) { newDay += "rd" }
			else { newDay += "th" }

			const months = ["January", "February", "March", "April",
											"May", "June", "July", "August",
											"September", "October", "November", "December"];
			var newMonth = months[month];
				
			return newDay + " of " + newMonth + ", " + year;  // creates a nice, human-readable string
		}
	</script>
</body>
</html>
